<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="Memoria"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="Server=MSI\SQLEXPRESS;Initial Catalog=EFCore-ProyectoTrajeta;trusted_connection=true;"/>
		<add name="Postgres"
			 connectionString="Host=localhost;Database=EFCore-ProyectoTrajeta;Username=postgres;Password=12345678;"/>
		<add name="Memoria"
			 connectionString="EFCore-ProyectoTrajeta_DBMemoria"/>
	</connectionStrings>
</configuration>